<div class="card-desk">
  <div class="card  bg-light mb-3" [routerLink]="['/phones']">
    <div class="card-body">
      <h5 class="card-text">Телефоны</h5>
    </div>
  </div>
  <div class="card bg-light mb-3" [routerLink]="['/']">
    <div class="card-body">
      <h5 class="card-text">Планшеты</h5>
    </div>
  </div>
  <div class="card bg-light mb-3" [routerLink]="['/']">
    <div class="card-body">
      <h5 class="card-text">Ноутбуки</h5>
    </div>
  </div>
  <div class="card bg-light mb-3" [routerLink]="['/']">
    <div class="card-body">
      <h5 class="card-text">Аксессуары</h5>
    </div>
  </div>
</div>
