.card {
  height: 8rem;
  width: 21rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(to bottom right, #f5f5f5, #f8f8f8);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.19);
}
.table-card-body {
  height: 100%; 
  width: 100%
}
.row {
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}
.container-fluid {
  padding: 0;
}
.row-card-body {
  height: 100%;
}
td {
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
@media (max-width: 576px) { 
  .card {
    height: 6rem;
    width: 18rem;
  }
}
