<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col"> 
        <div class="container-fluid">
          <a [routerLink]="['/phones']">Телефоны</a>
        </div>
      </div>
      <div class="col"> 
        <div class="container-fluid">
          <a [routerLink]="['/']">Планшеты</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"> 
        <div class="container-fluid">
          <a [routerLink]="['/']">Ноутбуки</a>
        </div>
      </div>
      <div class="col"> 
        <div class="container-fluid">
          <a [routerLink]="['/']">Аксессуары</a>
        </div>
      </div>
    </div>
  </div>
</div>