<div class="container-fluid">
  <div class="container">
    <div class="container-fluid" id="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Телефоны</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container" id="category-header">
    <div class="container-fluid">
      <div class="heading">
        <h1>Телефоны</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-fixed col-sm-3" id="filters">
      <div class="cell-fixed filters">
        <div class="filters-hd">
          <p class="h3"><i class="fa-filter"></i>Фильтры</p>
        </div>
        <div class="tabs tabs-catalog">
          <ul>
            <li class="active"><span>Все</span></li>
            <li><span>Выбранные</span></li>        
          </ul>
        </div>
        <div class="filters-bd tabs-content">
        </div>
      </div>
    </div>
    <div class="col-fixed col-sm-9" id="product-list">
      <div class="container-fluid sort-forms-conyainer">
        <div class="row sort-row">
          <div class="col-auto form-group">
            <div class="row">
              <div class="col-auto label-col">
                <label for="inputGroupSelect01" >Сортировать по:</label>
              </div>
              <div class="col-auto form-control-col">
                <select class="form-control form-control-sm" id="inputGroupSelect01">
                    <option value="0" data-value="0">возрастанию цены</option>
                    <option value="1" data-value="1">убыванию цены</option>
                    <option value="2" data-value="2">популярности</option>
                    <option value="3" selected="" data-active-element="" data-value="3">новизне </option>
                    <option value="4" data-value="4">оценке товара</option>
                    <option value="5" data-value="5">наименованию</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-auto form-group" >
            <div class="row">
              <div class="col-auto label-col">
                <label for="inputGroupSelect02">Вначале:</label>
              </div>
              <div class="col-auto form-control-col">
                <select class="form-control form-control-sm" id="inputGroupSelect02">
                  <option value="0" selected="" data-active-element="" data-value="0">все товары</option>
                  <option value="4" data-value="4">с вопросами</option>
                  <option value="1" data-value="1">с акциями</option>
                  <option value="2" data-value="2">с отзывами</option>
                  <option value="3" data-value="3">с видео</option>
                </select>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="container-fluid">
        <div class="container-fluid container-product" *ngFor="let product of products; index as productId">
          <div class="card">
            <div class="card-body">
                <div class="row product-row">
                  <div class="col-fixed product-image text-center">
                    <div class="img-square-wrapper text-center">
                      <img class="img-product" src="https://mrfix.ua/media/catalog/product/cache/f073062f50e48eb0f0998593e568d857/a/p/apple_iphone_11_white_mrfix1.png" [title]   ="product.name + ' details'" [routerLink]="['/products', productId]">
                    </div>
                  </div>
                  <div class="col">
                    <div class="row description-row ">
                      <div class="col-xs-12 col-sm-12 col-md-9 product-description">
                        <h4 class="card-title">
                          <a [routerLink]="['/products', productId]" [title]="product.name + ' details'">
                          {{ product.name }}
                          </a>
                        </h4>
                        <div class="card-text">
                          <p *ngIf="product.description">
                            Описание: {{ product.description }}
                          </p>
                        </div>
                      </div>
                      <div class="col product-price">
                        <div class="row price-row justify-content-end">
                          <div class="col price-row">
                            <span class="value">{{ product.price | currency}}</span>
                          </div>
                          <div class="col price-row">
                            <button (click)="addToCart(product)">Купить</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>