<div calss="container-fluid">
  <div class="container">
    <div class="container-fluid" id="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-itemactive" aria-current="page">Главная</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-fluid back-image">
    <img class="img-back"  src="https://abduzeedo.com/sites/default/files/styles/home_cover/public/originals/photo-1539341029274-a659646db47c.jpeg?itok=xJVbDuaX">
    <app-catalog-categories></app-catalog-categories>
  </div>
</div>