.container-fluid{
  background: wheat;
  border-radius:  0 3px 3px 0;
  padding: 0;
  min-width: 140px;
}
.card-header {
  padding: 0;
}

@media (min-width: 992px) {

}
@media (max-width: 576px) { 
  .container-fluid {
    border-radius: 3px;
    width: 300px;
    margin-bottom: 1rem;
  }
}