.container-fluid{
  background: wheat;
  border-radius:  0 3px 3px 0;
  padding: 0;
  min-width: 140px;
}
h5 {
  margin: 0;
}
.card-header {
  padding: 7px 20px; 
}
.filters-hd {
  padding: 0;
}
.filters-hd .row {
  margin: 0;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.filters-hd .row button {
  width: 100%;
  border-radius: 0;
  box-shadow: 0;
  background: white;
}
.filters-bd{
  padding: 0 5px;
}
label {
  font-weight: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.filter-label, .filt-label {
  padding-top: 3px;
}
.filter-label{
  font-weight: bold;
}
@media (max-width: 1247px) {
  .filters-hd .row button {
    border: 1px solid rgb(226, 226, 226);
    background: white;
    border-left: 4px solid rgb(245, 228, 197) !important;
    border-bottom: 0 !important;
  }
}
@media (max-width: 900px) {
  label {
    font-size: 10.5px;
  }
  .filter-label {
    font-size: 11px;
    padding-top: 4px;
  }
  .filt-label {
    padding-top: 5px;
  }
}
@media (max-width: 576px) { 
  .container-fluid {
    border-radius: 3px;
    width: 300px;
    margin-bottom: 1rem;
  }
  .filters-hd .row {
    width: 100% !important;
  }
  .filters-hd .row .container-fluid {
    margin: 0;
  }
  .filters-hd .row button {
    border: 1px solid rgb(226, 226, 226);
    background: white;
    border-left: 0 !important;
    border-bottom: 4px solid rgb(245, 228, 197) !important;
  }
}