<div class="container-fluid">
  <div class="card ">
    <div class="card-header text-left">
      <h5>Фильтры</h5>
    <!-- <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active">Все</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Выбранные</a>
      </li>
    </ul> -->
    </div>
    <div class="filters-hd text-center">
      <div class="row container-fluid"  style="background: grey">
        <div class="col container-fluid justify-content-center">
          <button type="button" class="button-filter-hd border-bottom btn btn-light">Все</button>
        </div>
        <div class="col container-fluid">
          <button type="button" class="button-filter-hd border-bottom btn btn-light">Выбранные</button>
        </div>
      </div>
    </div>
    <div class="filters-bd text-left">
      <div *ngFor="let filter of filters; index as filterId">
        <div class="container-filters">
          
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id={{filterId}}>
            <label class="custom-control-label" style="padding-top: 3px" for={{filterId}}>{{ filter.name }}</label>
          </div>
          <li class="filts" *ngFor="let filt of filter.filt; index as filterFiltId">
            <input type="checkbox" class="custom-control-input">
            {{filt}}
          </li>
        </div>
      </div>
    </div>
  </div>
</div>